.header {
  display: flex;
  justify-content: space-between;
  align-items: left;
  padding: 20px;
  font-family: 'Courier New', Courier, monospace;
  height: 0px;
  margin-top: 10px;
}
.center a {
  margin:15px;
  color: #333;
  font-size: 14px;
  font-weight: bold;
}
.button {
  display: flex;
  align-items: center;
}
.signin {
  color: #333;
  font-size: 14px;
  padding: 8px;
   font-weight: bold;
  
}
.get-started {
  background-color: #c4f07f;
  font-weight: bold;
  font-size: 14px;
  border-radius: 20px;
  margin-left: 20px;
  border-width: 20px;
  padding: 5px;
}
.RequestaDemo{
  background-color: #c0ffbf;
  color: #003322;
  border: 1px solid #c0ffbf;
  margin-left: 350px;
  border-radius: 30px;
  padding: 10px;
  font-size: 12px;
  text-align: center;
  margin-bottom: 20px;
}
.contactsales{
  background-color: #113d3b;
  color: #cceee6;
  border: 1px solid #113d3b;
  margin-left: 10px;
  border-radius: 30px;
  padding: 10px;
  font-size: 12px;
}
.middle {
  background-image:url(bgimage.png);
  background-repeat: no-repeat;
  background-size:cover;
  height: 595px;
  border-radius: 10px;
  width:900px;
  margin-left: 22px;
}
.text{
  color: white;
  margin-bottom: 50px;
  font-size: small;
  margin-top: 0px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
}
.hadding{
  color: white;
  font-size: xx-large;
  margin-bottom: 0px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.middle p{
  padding-top: 30px;
  font-size: x-small;
  color: white;
}
.dashbord {
  text-align: center;
  margin-top: 70px;
  border-image: round;

}
